#main_content{
    display:flex
}


@media only screen and (max-width: 600px) {
    #left_nav{

       display: none;
    
    } 
}

@media only screen and (min-width: 768px) {
#left_nav{

    margin-left:0px;
    margin-right:5px;
    display:flex;
    max-width: 300px;
} 
}


#right_content{

    flex:1 1 auto;
   
}

 #nav_list{
    list-style-type: none;
    display: inline;
    padding-left:0px;
 }

#nav_list>li{
   
    border: none;
    padding-left:15px;
   
}

.nav_link{
    padding: 5px;
    
    margin-top: 10px;
}

.page_menu{
   float:right;
}


.page_menu_link{
    color:#38c172;
    background-color: white;
    padding:5px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}

.action_edit_link{
    font-size: medium;
    color:#38c172;
    background-color: white;
    padding:8px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}

.side_nav_icon{
    font-size:larger;
    color:#38c172; 
}

.action_delete_link{
     font-size: medium;
    color:#e3342f;
    background-color: white;
    padding:8px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}

/* Sidebar */
.sidebar {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;    
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 200px;
    z-index: 600;
  }
  
  @media (max-width: 600px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }


